body {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
.cuprum-family{
  font-family: "Cuprum", Arial, sans-serif;
}
.container{
  width: 940px;
  margin: 0 auto;
}
.m-top-60{
  margin-top: 60px;
}
.m-bottom-60{
  margin-bottom: 60px;
}
.mp-null{
  margin: 0;
  padding: 0;
}
.m-null{
  margin: 0;
}
.m-top-null{
  margin-top: 0;
}
a{
  text-decoration: none;
}
header{
  width: auto;
}
button{
  font-family: "Cuprum", Arial, sans-serif;
  cursor: pointer;
}
.darkblue-background{
  height: 42px;
  background-color: #293449;
  width: auto;
}
.lightblue-background{
  background-color: #f2f4f8;
  width: auto;
}
.main-bar{
  background: transparent;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
}
.main-bar ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.main-bar a{
  color: #ffffff;
}
.logo-header{
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  text-align: center;
  border-bottom: 5px solid #b52933;
}
.logo-header a{
  line-height: 47px;
  display: block;
}
.logo-header:hover,
.logo-footer:hover{
  background-color: #ca2c37;
  border-color: #9a212a;
}
.logo-header:active,
.logo-footer:active{
  background-color: #ba2732;
  border-color: #8e1e26;
}
#search{
  background-color: #293449;
  color: #ffffff;
  border: none;
  width: 270px;
  height: 42px;
}
#search::placeholder{
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}
.basket,
.favorites{
    background-color: #293449;
    width: 150px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    text-align: center;
}
.basket-catalog{
  background-color: #ee3643;
  width: 150px;
  height: 42px;
  display: inline-block;
  line-height: 42px;
  text-align: center;
}
#search:hover,
.basket:hover,
.favorites:hover{
  background-color: #212a3a;
}
.basket:active,
.favorites:active{
  background-color: #161d29;
  color: #babbbd;
}
#search:focus{
  background-color: #ffffff;
  color: #000000;
}
.basket-catalog:hover{
  background-color: #ca2c37;
}
.basket-catalog:active{
  background-color: #ba2732;
  color: #babbbd;
}
.checkout{
  background-color: #63a63e;
  width: 150px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
}
.checkout:hover{
  background-color: #5fbb2d;
}
.checkout:active{
  background-color: #518534;
  color: #babbbd;
}
.header-panel{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 46px;
}
.title{
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}
.first-header-panel{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.first-header-panel .title{
  margin: 0;
  padding: 0;
  display: block;
}
.contact-info-header{
  border: 3px solid #ffffff;
  width: 270px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  display: block;
  margin-left: 70px;
  margin-right: 70px;
}
.contact-info-header span{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}
.contact-info-header p{
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
  margin-top: 10px;
}
.user-panel{
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
}
.sign-in{
  margin-right: 10px;
}
.user-panel button{
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  width: 121px;
  height: 45px;
  border: none;
}
.user-panel button[name="sign-up"]{
  width: 150px;
}
.user-panel button:hover{
  color: #ee3643;
}
.user-panel button:active{
  color: #cacaca;
}
.user{
  list-style: none;
  margin: 0;
  padding: 0;
}
.orders-lc{
  display: flex;
  width: 210px;
  justify-content: space-between;
  padding-left: 18px;
  padding-top: 10px;
  align-items: flex-end;
}
.username{
  font-size: 21px;
  line-height: 45px;
  color: #000000;
  background-color: #ffffff;
  width: 299px;
  height: 45px;
  text-align: center;
  display: inline-block;
}
.user-orders,
.user-personal-area{
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}
.username:active{
  color: #c5c5c5;
}
.user-orders:hover,
.user-personal-area:hover{
  color: #ee3643;
}
.user-orders:active,
.user-personal-area:active{
  color: #c5cad0;
}
.header-navigation{
  height: 55px;
  background-color: #32425c;
  margin-top: 44px;
  margin-bottom: 60px;
  border-bottom: 5px solid #293449;
}
.header-navigation ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.header-navigation a{
  color: #ffffff;
  font-size: 17px;
  padding: 0 30px;
  line-height: 60px;
  display: flex;
}
.header-navigation li:hover{
  background-color: #293449;
}
.header-navigation li:active{
  background-color: #1d2739;
}
.header-navigation a:active{
  color: #a8abaf;
}
.container-elements-first-line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container-elements-second-line{
  display: flex;
  justify-content: space-between;
}
.big-element{
  width: 620px;
}
.small-elements{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.elements-catalog-list h2{
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.elements-catalog-list a{
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
}
.elements-catalog-list a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.elements-catalog-list a:active{
    background-color: rgba(0, 0, 0, 0.3);
}
.elements-catalog-list{
  width: 300px;
  height: 123px;
}
.element-1 h2,
.element-2 h2,
.element-3 h2,
.element-5 h2,
.element-6 h2{
   padding-bottom: 15px;
   padding-left: 23px;
}
.element-1 a,
.element-2 a,
.element-3 a,
.element-5 a,
.element-6 a{
   margin-left: 25px;
}
.element-1{
  background-color: #ffbf47;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-2{
  background-color: #3bbce3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-3{
  background-color: #dc91d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-4{
  display: flex;
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
}
.slider-btns{
  display: flex;
  padding-top: 114px;
  padding-right: 20px;
  padding-left: 25px;
}
.slider-btns .left-btn{
  margin: 0 auto;
}
.element-4 .first-slider{
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}
.element-4 .second-slider{
  /* background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat; */
  width: 620px;
  height: 266px;
}
.element-4 h2{
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: 27px;
  left: 24px;
}
.element-4 p{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  top: 30px;
  left: 25px;
}
.element-4 .catalog-btn{
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background-color: #ee3643;
  width: 195px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
}
.element-5{
  background-color: #8ed78f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-6{
  background-color: #ffc047;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.breadcrumbs{
  list-style: none;
  display: flex;
  margin: 24px 0;
}
.breadcrumbs li{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 18px;
}
h1{
  font-size: 30px;
  line-height: 89px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  height: 89px;
  display: block;
  text-align: left;
  padding-left: 30px;
}
h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
h3{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
h4{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
fieldset{
  border: none;
}
legend{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
label{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
label:active{
  color: #b8b8b8;
}
.price-filter{
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-bottom: 24px;
}
.section-separator{
  display: block;
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}
.second-legend,
.third-legend{
  padding-top: 13px;
}
.price-range{
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 4px;
  text-align: center;
}
.value-price-range{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}
.ui-price-range{
  display: inline-block;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  margin-top: 39px;
}
.ui-selected-range{
  background-color: #00ca74;
  width: 120px;
  height: 2px;
  position: relative;
  left: 40px;
  bottom: 10px;
}
.min-price-range,
.max-price-range{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  display: block;
  border-radius: 10px;
  position: relative;
}
.min-price-range{
  left: 20px;
  bottom: 20px;
}
.max-price-range{
  left: 160px;
  bottom: 41px;
}
.dott-min-price-range,
.dott-max-price-range{
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #ababab;
  display: block;
  position: relative;
}
.dott-min-price-range{
  bottom: 52px;
  left: 28px;
}
.dott-max-price-range{
  bottom: 57px;
  left: 168px;
}
.min-price-value,
.max-price-value{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 38px;
  text-transform: uppercase;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  text-align: center;
  border-radius: 4px;
}
.line{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
}
.filter h4{
  width: 202px;
  height: 38px;
  background-color: #f7f3ec;
  line-height: 38px;
  padding-left: 18px;
  border-radius: 4px;
  margin: 20px 20px 10px 0;
}
.filter form legend{
  padding-bottom: 13px;
}
.section-header{
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  padding-left: 30px;
}
.manufactures{
  display: flex;
}
.manufactures-input{
  display: none;
}
.manufactures-label{
  display: flex;
  flex-direction: column;
}
.manufactures-label label::before{
content: "";
display: inline-block;
}
.section-header .section-header-btn{
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background-color: #ee3643;
  width: 253px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
  margin-right: 24px;
}
.catalog .sorting{
  width: 681px;
  height: 38px;
  background-color: #f7f3ec;
  line-height: 38px;
  padding-left: 19px;
  border-radius: 4px;
}
.catalog button{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #cacaca;
  border: none;
  border-bottom: 1px dotted #ee3643;
  padding: 0;
  background: none;
}
.catalog button:hover{
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.filter button{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  width: 140px;
  height: 38px;
}
.catalog ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0;
  justify-content: space-between;
}
.catalog ul li span{
  padding: 0 10px;
}
.catalog li{
  width: 220px;
  height: 318px;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
}
.catalog li h3,
.catalog li p{
  margin: 0;
}
.catalog a{
  color: #000000;
  line-height: 20px;
  text-align: center;
  display: inline-block;
}
.catalog del{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999999;
  text-align: center;
  display: block;
  margin-bottom: 12px;
}
.catalog .current-price{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: block;
  background-color: #ee3643;
  width: 141px;
  height: 38px;
  border-radius: 4px;
}
.popular-manufaturers ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popular-manufaturers li{
  background-color: #ffffff;
  margin: 10px 0;
}
.popular-manufaturers li a{
  width: 220px;
  height: 145px;
  border: 1.0px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-manufaturers li a img{
  display: inline-block;
}
.pages{
  list-style: none;
}
.pages li:first-child{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 4px;
}
.pages li{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.pages a,
.btn-show{
  color: #000000;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  border-radius: 4px;
  display: inline-block;
}
.btn-show{
  width: 140px;
  height: 38px;
}
.pages .next-page{
  width: 140px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  border-radius: 4px;
}
.pages a:hover,
.btn-show:hover{
  border: 1.0px solid #bdc6ca;
}
.pages a:active,
.btn-show:active{
  border: 1.0px solid #ee3643;
}
.services-sliders{
  display: flex;
  margin-top: 75px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 100px;
}
.services ul{
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 50px;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.services ul li button,
.services ul li img{
  margin: 0;
}
.services ul li h3{
  margin-top: 0;
}
.services h2{
  margin-top: 0;
  padding-top: 68px;
}
.services .slider-btn{
  display: flex;
  flex-direction: column;
}
.slider-btn button{
  padding-left: 23px;
}
.services button{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  width: 240px;
  height: 62px;
  background-color: #32425c;
  text-align: left;
  border:none
}
.services button:hover{
  background-color: #293449;
}
.services button:focus{
  background-color: #ffffff;
  color: #32425c;
}
.services h3{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
}
.services .guarantee{
  font-family: "GillSans", "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 24px;
  font-weight: 600;
}
.services p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
}
.info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}
.about-company{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contacts img{
  margin: 38px 0;
}
.about-company p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.about-company ul{
  font-size: 18px;
  line-height: 20px;
  list-style-image: url("../img/list-style.png");
}
.about-company a{
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  width: 220px;
  height: 38px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}
.about-company a:hover,
.contacts button:hover,
.catalog-btn:hover,
.section-header-btn:hover{
  background-color: #ca2c37;
}
.about-company a:active,
.contacts button:active,
.catalog-btn:active,
.section-header-btn:active{
  background-color: #ba2732;
}
.contacts p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.contacts button{
  background-color: #ee3643;
  width: 300px;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: auto;
}
.post-scriptum p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.first-footer-background{
  height: 193px;
  background-color: #32425c;
  width: auto;
}
.second-footer-background{
  height: 107px;
  background-color: #293449;
  width: auto;
}
.first-footer{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.logo-footer{
  background-color: #ee3643;
  width: 220px;
  height: 63px;
  line-height: 68px;
  text-align: center;
  display: inline-block;
  border-bottom: 5px solid #b52933;
}
.logo-footer a{
  line-height: 68px;
  display: block;
}
.first-footer-section ul{
  list-style: none;
}
.site-navigation ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 42px;
}
.site-navigation ul li{
  display: flex;
  padding-left: 60px;
}
.site-navigation ul li a{
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  display: block;
}
.first-footer-section p{
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
}
.catalog-navigation{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.catalog-navigation ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.catalog-navigation ul li{
  display: flex;
  padding-left: 60px;
}
.catalog-navigation a{
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  display: block;
}
.second-footer{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.copyright{
  width: 300px;
}
.social-media{
  display: flex;
}
.social-media a div{
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}
.social-media a div:hover,
.social-media a div:active,
.social-media a div:focus{
  background-color: #ee3643;
}
.feedback-developer{
  display: flex;
  justify-content: flex-end;
}
.feedback-developer p{
  padding-left: 53px;
}
.second-footer p{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}
.second-footer a{
  font: inherit;
  color: #ffd180;
}
.site-navigation li:hover,
.catalog-navigation li:hover{
  text-decoration: underline;
}
.site-navigation a:active{
  color: #a4abb4;
}
.catalog-navigation a:active{
  color: #a6906e;
}
.second-footer a:hover{
  text-decoration: underline;
}
.second-footer a:active{
  color: #e53643;
}
.visually-hidden{
  display: none;
}
