body {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
img{
  max-width: 100%;
  height: auto;
}
.cuprum-family{
  font-family: "Cuprum", Arial, sans-serif;
}
.container{
  width: 940px;
  margin: 0 auto;
}
.m-top-60{
  margin-top: 60px;
}
.m-top-59{
  margin-top: 59px;
}
body header .m-top-34{
  margin-top: 34px;
}
.m-bottom-60{
  margin-bottom: 60px;
}
.m-bottom-53{
  margin-bottom: 53px;
}
.mp-null{
  margin: 0;
  padding: 0;
}
.m-null{
  margin: 0;
}
.m-top-null{
  margin-top: 0;
}
.p-left-null{
  padding-left: 0;
}
.m-bottom-10{
  margin-bottom: 10px;
}
.m-top-10{
  margin-top: 10px;
}
.icon-cursor-pointer{
  cursor: pointer;
}
.icon-cursor-search{
  cursor: text;
}
.dblock{
  display: inline-block;
}
a{
  text-decoration: none;
}
header{
  width: auto;
}
button{
  font-family: "Cuprum", Arial, sans-serif;
  cursor: pointer;
}
.darkblue-background{
  height: 42px;
  background-color: #293449;
  width: auto;
}
.lightblue-background{
  background-color: #f4f8f9;
  width: auto;
}
.main-bar{
  background: transparent;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
}
.icons-header{
  opacity: 0.3;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}
.main-bar .icon-search{
  width: 17px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='17px' height='17px' viewBox='0 0 17 17' enable-background='new 0 0 17 17' xml:space='preserve'%3E%3Cg id='Layer_1'%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cpath fill='%23ffffff' d='M17,15.586l-3.542-3.542C14.421,10.782,15,9.21,15,7.5C15,3.358,11.643,0,7.5,0C3.358,0,0,3.358,0,7.5 C0,11.643,3.358,15,7.5,15c1.71,0,3.282-0.579,4.544-1.542L15.586,17L17,15.586z M2,7.5C2,4.467,4.467,2,7.5,2 C10.532,2,13,4.467,13,7.5c0,3.032-2.468,5.5-5.5,5.5C4.467,13,2,10.532,2,7.5z'/%3E%3C/g%3E%3C/svg%3E%0A");
  margin-left: 17px;
  top: 12px;
}
#search:hover ~ .icon-search,
.main-bar ul li:nth-child(2):hover > .favorites-icon,
.main-bar ul li:nth-child(3):hover > .basket-icon{
  opacity: 1;
}
.main-bar ul li:nth-child(2):active > .favorites-icon,
.main-bar ul li:nth-child(3):active > .basket-icon{
  opacity: 0.5;
}
#search:focus ~ .icon-search{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='17px' height='17px' viewBox='0 0 17 17' enable-background='new 0 0 17 17' xml:space='preserve'%3E%3Cg id='Layer_1'%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cpath fill='%23ee3643' d='M17,15.586l-3.542-3.542C14.421,10.782,15,9.21,15,7.5C15,3.358,11.643,0,7.5,0C3.358,0,0,3.358,0,7.5 C0,11.643,3.358,15,7.5,15c1.71,0,3.282-0.579,4.544-1.542L15.586,17L17,15.586z M2,7.5C2,4.467,4.467,2,7.5,2 C10.532,2,13,4.467,13,7.5c0,3.032-2.468,5.5-5.5,5.5C4.467,13,2,10.532,2,7.5z'/%3E%3C/g%3E%3C/svg%3E%0A");
    opacity: 1;
}
.main-bar ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.main-bar a{
  color: #ffffff;
}
.logo-header{
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  text-align: center;
  border-bottom: 5px solid #b52933;
}
.logo-header a{
  line-height: 47px;
  display: block;
}
.logo-header:hover,
.logo-footer:hover{
  background-color: #ca2c37;
  border-color: #9a212a;
}
.logo-header:active,
.logo-footer:active{
  background-color: #ba2732;
  border-color: #8e1e26;
}
#search{
  background-color: #293449;
  color: #ffffff;
  border: none;
  width: 270px;
  height: 42px;
  padding-left: 49px;
}
#search::placeholder{
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}
.basket,
.favorites{
    background-color: #293449;
    width: 105px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    padding-left: 45px;
}
.favorites-icon{
  width: 14px;
  height: 16px;
  margin: 12px 14px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='14px' height='16px' viewBox='0 0 14 16' enable-background='new 0 0 14 16' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M14,15c0,0.55-0.368,0.741-0.818,0.426l-5.363-3.765c-0.45-0.315-1.187-0.315-1.637,0l-5.364,3.765 C0.368,15.741,0,15.55,0,15V1c0-0.55,0.45-1,1-1h12c0.55,0,1,0.45,1,1V15z'/%3E%3C/svg%3E%0A");
}
.basket-icon{
  width: 15px;
  height: 15px;
  margin: 12px 14px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 15 15' enable-background='new 0 0 15 15' xml:space='preserve'%3E%3Cg%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpolygon points='15,2 4.07,2 3.648,0 0,0 0,2 2.031,2 4.016,11 15,11 15,9 9.441,9 15,6.951' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.basket-catalog{
  background-color: #ee3643;
  width: 105px;
  height: 42px;
  display: inline-block;
  line-height: 42px;
  padding-left: 45px;
}
#search:hover,
.basket:hover,
.favorites:hover{
  background-color: #212a3a;
}
.basket:active,
.favorites:active{
  background-color: #161d29;
  color: #babbbd;
}
#search:focus{
  background-color: #ffffff;
  color: #000000;
  padding-left: 49px;
}
.basket-catalog:hover{
  background-color: #ca2c37;
}
.basket-catalog:active{
  background-color: #ba2732;
  color: #babbbd;
}
.checkout{
  background-color: #63a63e;
  width: 150px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
}
.checkout:hover{
  background-color: #5fbb2d;
}
.checkout:active{
  background-color: #518534;
  color: #babbbd;
}
.header-panel{
  display: flex;
  justify-content: flex-end;
  padding-top: 46px;
}
.title{
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  position: relative;
  padding-right: 71px;
}
.first-header-panel{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.first-header-panel .title{
  margin: 0;
  padding: 0;
  display: block;
}
.contact-info-header{
  border: 3px solid #ffffff;
  width: 270px;
  height: 39px;
  line-height: 39px;
  display: block;
  margin-right: 66px;
}
.contact-info-header-catalog{
  margin-right: 48px;
}
.icon-phone{
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.contact-info-header span{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  display: inline-block;
  margin-left: 74px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-info-header p{
  font-size: 14px;
  line-height: 14px;
  color: #32425c;
  margin: 0;
  margin-top: 10px;
  display: inline-block;
  margin-left: 7px;
}
.user-panel{
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
}
.sign-in{
  margin-right: 10px;
}
.sign-in .icon-login{
  width: 20px;
  height: 17px;
  display: block;
  position: absolute;
  margin-left: 14px;
  margin-top: -31px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='17px' viewBox='0 0 20 17' enable-background='new 0 0 20 17' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%23c5c5c5' points='14.875,8.5 6,0 6,6 0,6 0,11 6,11 6,17 '/%3E%3C/g%3E%3Cpath fill='%23c5c5c5' d='M16.986,15.01h-5.027V17h5.027c2.178,0,3.004-1.81,3.029-3.026V3.028C19.99,1.811,19.164,0,16.986,0h-5.027 v1.99h5.027c0.839,0,0.992,0.681,1.01,1.057v10.904C17.979,14.327,17.825,15.01,16.986,15.01z'/%3E%3C/svg%3E%0A");
}
.user-panel button[name="sign-in"]:hover ~ .icon-login,
.icon-login:hover{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='17px' viewBox='0 0 20 17' enable-background='new 0 0 20 17' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%2332425C' points='14.875,8.5 6,0 6,6 0,6 0,11 6,11 6,17 '/%3E%3C/g%3E%3Cpath fill='%2332425C' d='M16.986,15.01h-5.027V17h5.027c2.178,0,3.004-1.81,3.029-3.026V3.028C19.99,1.811,19.164,0,16.986,0h-5.027 v1.99h5.027c0.839,0,0.992,0.681,1.01,1.057v10.904C17.979,14.327,17.825,15.01,16.986,15.01z'/%3E%3C/svg%3E%0A");
}
.user-panel button[name="sign-in"]:active ~ .icon-login,
.icon-login:active{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='17px' viewBox='0 0 20 17' enable-background='new 0 0 20 17' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%23c5c5c5' points='14.875,8.5 6,0 6,6 0,6 0,11 6,11 6,17 '/%3E%3C/g%3E%3Cpath fill='%23c5c5c5' d='M16.986,15.01h-5.027V17h5.027c2.178,0,3.004-1.81,3.029-3.026V3.028C19.99,1.811,19.164,0,16.986,0h-5.027 v1.99h5.027c0.839,0,0.992,0.681,1.01,1.057v10.904C17.979,14.327,17.825,15.01,16.986,15.01z'/%3E%3C/svg%3E%0A");
}
.user-panel button{
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  width: 121px;
  height: 45px;
  border: none;
}
.user-panel button[name="sign-in"]{
  padding: 0;
  padding-left: 48px;
  padding-right: 27px;
}
.user-panel button[name="sign-up"]{
  width: 150px;
}
.user-panel button:hover{
  color: #ee3643;
}
.user-panel button:active{
  color: #cacaca;
}
.user{
  list-style: none;
  margin: 0;
  padding: 0;
}
.orders-lc{
  display: flex;
  width: 210px;
  justify-content: space-between;
  padding-left: 18px;
  padding-top: 6px;
  align-items: flex-end;
}
.orders-lc li{
  height: 18px;
}
.icon-user{
  display: block;
  width: 20px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='18px' viewBox='0 0 20 18' enable-background='new 0 0 20 18' xml:space='preserve'%3E%3Cpath fill='%23c5c5c5' d='M17.881,14.166c-2.144-0.735-4.256-1.666-5.207-2.39c-0.657-0.501-0.77-1.618-0.517-2.415 c1.118-0.903,1.864-2.477,1.864-4.278C14.021,2.276,12.221,0,10,0S5.979,2.276,5.979,5.083c0,1.801,0.746,3.374,1.863,4.277 c0.253,0.798,0.141,1.915-0.517,2.416c-0.95,0.724-3.063,1.654-5.207,2.39S0,18,0,18h20C20,18,20.025,14.901,17.881,14.166z'/%3E%3C/svg%3E%0A");
  position: absolute;
  margin: 14px;
}
.icon-logout{
  display: block;
  width: 20px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21px' height='17px' viewBox='0 0 21 17' enable-background='new 0 0 21 17' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%23c5c5c5' points='21,8.5 12.125,0 12.125,6 6.125,6 6.125,11 12.125,11 12.125,17 '/%3E%3Cpath fill='%23c5c5c5' d='M3.106,13.952V3.048c0.018-0.376,0.171-1.057,1.01-1.057h5.027V0H4.116C1.938,0,1.112,1.81,1.087,3.027 v10.946C1.112,15.189,1.938,17,4.116,17h5.027v-1.99H4.116C3.277,15.01,3.124,14.327,3.106,13.952z'/%3E%3C/g%3E%3C/svg%3E%0A");
  position: absolute;
  margin: 14px 10px 14px 269px;
}
.username-block:hover > .icon-user{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='18px' viewBox='0 0 20 18' enable-background='new 0 0 20 18' xml:space='preserve'%3E%3Cpath fill='%2332425C' d='M17.881,14.166c-2.144-0.735-4.256-1.666-5.207-2.39c-0.657-0.501-0.77-1.618-0.517-2.415 c1.118-0.903,1.864-2.477,1.864-4.278C14.021,2.276,12.221,0,10,0S5.979,2.276,5.979,5.083c0,1.801,0.746,3.374,1.863,4.277 c0.253,0.798,0.141,1.915-0.517,2.416c-0.95,0.724-3.063,1.654-5.207,2.39S0,18,0,18h20C20,18,20.025,14.901,17.881,14.166z'/%3E%3C/svg%3E%0A");
}
.username-block:hover > .icon-logout{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21px' height='17px' viewBox='0 0 21 17' enable-background='new 0 0 21 17' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%2332425C' points='21,8.5 12.125,0 12.125,6 6.125,6 6.125,11 12.125,11 12.125,17 '/%3E%3Cpath fill='%2332425C' d='M3.106,13.952V3.048c0.018-0.376,0.171-1.057,1.01-1.057h5.027V0H4.116C1.938,0,1.112,1.81,1.087,3.027 v10.946C1.112,15.189,1.938,17,4.116,17h5.027v-1.99H4.116C3.277,15.01,3.124,14.327,3.106,13.952z'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.username-block:active > .icon-user{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='18px' viewBox='0 0 20 18' enable-background='new 0 0 20 18' xml:space='preserve'%3E%3Cpath fill='%23c5c5c5' d='M17.881,14.166c-2.144-0.735-4.256-1.666-5.207-2.39c-0.657-0.501-0.77-1.618-0.517-2.415 c1.118-0.903,1.864-2.477,1.864-4.278C14.021,2.276,12.221,0,10,0S5.979,2.276,5.979,5.083c0,1.801,0.746,3.374,1.863,4.277 c0.253,0.798,0.141,1.915-0.517,2.416c-0.95,0.724-3.063,1.654-5.207,2.39S0,18,0,18h20C20,18,20.025,14.901,17.881,14.166z'/%3E%3C/svg%3E%0A");
}
.username-block:active > .icon-logout{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21px' height='17px' viewBox='0 0 21 17' enable-background='new 0 0 21 17' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%23c5c5c5' points='21,8.5 12.125,0 12.125,6 6.125,6 6.125,11 12.125,11 12.125,17 '/%3E%3Cpath fill='%23c5c5c5' d='M3.106,13.952V3.048c0.018-0.376,0.171-1.057,1.01-1.057h5.027V0H4.116C1.938,0,1.112,1.81,1.087,3.027 v10.946C1.112,15.189,1.938,17,4.116,17h5.027v-1.99H4.116C3.277,15.01,3.124,14.327,3.106,13.952z'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.username{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 252px;
  height: 31px;
  display: inline-block;
  padding-left: 47px;
  padding-top: 14px;
}
.user-orders,
.user-personal-area{
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}
.username:active{
  color: #c5c5c5;
}
.user-orders:hover,
.user-personal-area:hover{
  color: #ee3643;
}
.user-orders:active,
.user-personal-area:active{
  color: #c5cad0;
}
.header-nav-div{
  padding-bottom: 60px;
}
.header-navigation{
  height: 55px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.header-navigation ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.header-navigation a{
  color: #ffffff;
  font-size: 17px;
  padding: 0 30px;
  line-height: 60px;
  display: flex;
}
.header-navigation li:hover{
  background-color: #293449;
}
.header-navigation li:active{
  background-color: #1d2739;
}
.header-navigation a:active{
  color: #a8abaf;
}
.catalog-element-icons{
  display: block;
  position: absolute;
}
.icon-catalog-element-1{
  width: 44px;
  height: 65px;
  margin-left: 213px;
}
.icon-catalog-element-2{
  width: 75px;
  height: 61px;
  margin-left: 197px;
}
.icon-catalog-element-3{
  width: 78px;
  height: 62px;
  margin-left: 191px;
}
.icon-catalog-element-5{
  width: 69px;
  height: 72px;
  margin-left: 196px;
}
.icon-catalog-element-6{
  width: 78px;
  height: 63px;
  margin-left: 191px;
}
.container-elements-first-line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container-elements-second-line{
  display: flex;
  justify-content: space-between;
}
.big-element{
  width: 620px;
}
.small-elements{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.elements-catalog-list h2{
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.elements-catalog-list a{
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
}
.elements-catalog-list a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.elements-catalog-list a:active{
    background-color: rgba(0, 0, 0, 0.3);
}
.elements-catalog-list{
  width: 300px;
  height: 123px;
}
.element-1 h2,
.element-2 h2,
.element-3 h2,
.element-5 h2,
.element-6 h2{
   padding-bottom: 15px;
   padding-left: 23px;
}
.element-1 a,
.element-2 a,
.element-3 a,
.element-5 a,
.element-6 a{
   margin-left: 25px;
}
.element-1{
  background-color: #ffbf47;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-2{
  background-color: #3bbce3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-3{
  background-color: #dc91d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-4{
  display: flex;
}
.element-4 .first-slider,
.element-4 .second-slider{
  display: none;
}
.element-4 .slider-controls{
  position: absolute;
  margin-left: 292px;
  margin-top: 217px;
}
.element-4 .slider-controls label{
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 3px;
}
.container-elements-second-line input:nth-child(1):checked ~ .big-element .element-4 .first-slider{
  display: block;
}
.container-elements-second-line input:nth-child(2):checked ~ .big-element .element-4 .second-slider{
  display: block;
}
.container-elements-second-line input:nth-child(1):checked ~ .big-element .element-4 .slider-controls-item-1::before,
.container-elements-second-line input:nth-child(2):checked ~ .big-element .element-4 .slider-controls-item-2::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  width: 6px;
  height: 6px;
  background: #ee3643;
  border-radius: 3px;
}
.element-4 .first-slider{
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}
.element-4 .second-slider{
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}
.element-4 h2{
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: 27px;
  left: 24px;
}
.element-4 p{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  top: 30px;
  left: 25px;
}
.left-btn-slider,
.right-btn-slider{
  position: absolute;
}
.left-btn-slider{
  margin-left: 25px;
  margin-top: 114px;
}
.right-btn-slider{
  margin-left: 578px;
  margin-top: 114px;
}
.element-4 .catalog-btn{
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background-color: #ee3643;
  width: 195px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  margin-left: 25px;
  margin-top: 206px;
}
.element-5{
  background-color: #8ed78f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element-6{
  background-color: #ffc047;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.breadcrumbs{
  list-style: none;
  display: flex;
  margin: 24px 0;
}
.breadcrumbs li{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 18px;
}
h1{
  font-size: 30px;
  line-height: 89px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  height: 89px;
  display: block;
  text-align: left;
  padding-left: 30px;
}
h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
h3{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
h4{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
fieldset{
  border: none;
}
legend{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
label{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
label:active{
  color: #b8b8b8;
}
.new-catalog-item{
  width: 60px;
  height: 59px;
  display: block;
  position: absolute;
  background-image: url("../img/icon-new.png");
  background-repeat: no-repeat;
  margin-left: 90px;
}
.new-catalog-item-materials{
  width: 60px;
  height: 59px;
  display: block;
  position: absolute;
  background-image: url("../img/icon-new.png");
  background-repeat: no-repeat;
  margin-left: 240px;
  margin-top: -32px;
}
.main-catalog{
  display: flex;
  width: 940px;
}
.price-filter{
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-bottom: 24px;
}
.section-separator{
  display: block;
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}
.second-legend,
.third-legend{
  padding-top: 18px;
}
.price-range{
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 4px;
  text-align: center;
}
.value-price-range{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}
.ui-price-range{
  display: inline-block;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  margin-top: 39px;
}
.ui-selected-range{
  background-color: #00ca74;
  width: 120px;
  height: 2px;
  position: relative;
  left: 40px;
  bottom: 10px;
}
.min-price-range,
.max-price-range{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  display: block;
  border-radius: 10px;
  position: relative;
}
.min-price-range{
  left: 20px;
  bottom: 20px;
}
.max-price-range{
  left: 160px;
  bottom: 41px;
}
.dott-min-price-range,
.dott-max-price-range{
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #ababab;
  display: block;
  position: relative;
}
.dott-min-price-range{
  bottom: 52px;
  left: 28px;
}
.dott-max-price-range{
  bottom: 57px;
  left: 168px;
}
.min-price-value,
.max-price-value{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 38px;
  text-transform: uppercase;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  text-align: center;
  border-radius: 4px;
}
.min-price-value input,
.max-price-value input{
  border: none;
  background-color: transparent;
  text-align: center;
  width: 95px;
  height: 38px;
}
.line{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
}
.filter h4{
  width: 202px;
  height: 38px;
  background-color: #f7f3ec;
  line-height: 38px;
  padding-left: 18px;
  border-radius: 4px;
  margin: 20px 10px 16px 0;
}
.filter form legend{
  padding-bottom: 18px;
  line-height: 17px;
}
.section-header{
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  padding-left: 30px;
}
.filter form fieldset label{
  line-height: 15px;
  cursor: pointer;
}
.manufacturers{
  display: flex;
  flex-direction: column;
}
.manufacturers .check{
  padding-bottom: 20px;
  padding-left: 35px;
  padding-top: 5px;
}
.manufacturers .check-box{
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='23px' height='23px' viewBox='0 0 23 23' enable-background='new 0 0 23 23' xml:space='preserve'%3E%3Cpath fill='%23c5c5c5' d='M20,2c0.542,0,1,0.458,1,1v17c0,0.542-0.458,1-1,1H3c-0.542,0-1-0.458-1-1V3c0-0.542,0.458-1,1-1H20 M20,0H3 C1.35,0,0,1.35,0,3v17c0,1.65,1.35,3,3,3h17c1.65,0,3-1.35,3-3V3C23,1.35,21.65,0,20,0L20,0z'/%3E%3C/svg%3E%0A");
  margin-left: -35px;
  margin-top: -5px;
}
.manufacturers .check-input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.manufacturers .check-input:checked + .check-box{
  width: 27px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='27px' height='23px' viewBox='0 0 27 23' enable-background='new 0 0 27 23' xml:space='preserve'%3E%3Cg id='Layer_1'%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cg%3E%3Cpolygon fill='%23c5c5c5' points='7.285,7.486 4.456,10.315 12.239,18.098 26.171,4.166 23.343,1.337 12.239,12.439 '/%3E%3Cpath fill='%23c5c5c5' d='M21,20c0,0.542-0.458,1-1,1H3c-0.542,0-1-0.458-1-1V3c0-0.542,0.458-1,1-1h16.908l1.585-1.585C21.051,0.158,20.545,0,20,0 H3C1.35,0,0,1.35,0,3v17c0,1.65,1.35,3,3,3h17c1.65,0,3-1.35,3-3v-9.829l-2,2V20z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.manufacturers .check:hover .check-box{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='23px' height='23px' viewBox='0 0 23 23' enable-background='new 0 0 23 23' xml:space='preserve'%3E%3Cpath fill='%23b5b5b5' d='M20,2c0.542,0,1,0.458,1,1v17c0,0.542-0.458,1-1,1H3c-0.542,0-1-0.458-1-1V3c0-0.542,0.458-1,1-1H20 M20,0H3 C1.35,0,0,1.35,0,3v17c0,1.65,1.35,3,3,3h17c1.65,0,3-1.35,3-3V3C23,1.35,21.65,0,20,0L20,0z'/%3E%3C/svg%3E%0A");
}
.manufacturers .check:hover .check-input:checked + .check-box{
  width: 27px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='27px' height='23px' viewBox='0 0 27 23' enable-background='new 0 0 27 23' xml:space='preserve'%3E%3Cg id='Layer_1'%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cg%3E%3Cpolygon fill='%23b5b5b5' points='7.285,7.486 4.456,10.315 12.239,18.098 26.171,4.166 23.343,1.337 12.239,12.439 '/%3E%3Cpath fill='%23b5b5b5' d='M21,20c0,0.542-0.458,1-1,1H3c-0.542,0-1-0.458-1-1V3c0-0.542,0.458-1,1-1h16.908l1.585-1.585C21.051,0.158,20.545,0,20,0 H3C1.35,0,0,1.35,0,3v17c0,1.65,1.35,3,3,3h17c1.65,0,3-1.35,3-3v-9.829l-2,2V20z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.manufacturers .check-input:disabled + .check-box,
.manufacturers .check-input:checked:disabled + .check-box,
.power-choose .radio-input:disabled + .radio-box,
.power-choose .radio-input:checked:disabled + .radio-box{
  opacity: 0.3;
}
.manufacturers .check .check-input:disabled ~ .label-name,
.power-choose .radio .radio-input:disabled ~ .label-name{
  opacity: 0.4;
}
.power-choose{
  display: flex;
  flex-direction: column;
}
.power-choose .radio{
  padding-left: 33px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.power-choose .radio:last-child{
  padding-bottom: 0;
}
.power-choose .radio .radio-input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.power-choose .radio .radio-box{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -33px;
  margin-top: -5px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath fill='%23c5c5c5' d='M12.5,4c4.687,0,8.5,3.813,8.5,8.5c0,4.687-3.813,8.5-8.5,8.5C7.813,21,4,17.187,4,12.5C4,7.813,7.813,4,12.5,4 M12.5,0 C5.597,0,0,5.597,0,12.5S5.597,25,12.5,25S25,19.403,25,12.5S19.403,0,12.5,0L12.5,0z'/%3E%3C/svg%3E%0A");
}
.power-choose .radio-input:checked + .radio-box{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath fill='%23c5c5c5' d='M12.5,4c4.687,0,8.5,3.813,8.5,8.5c0,4.687-3.813,8.5-8.5,8.5C7.813,21,4,17.187,4,12.5C4,7.813,7.813,4,12.5,4 M12.5,0 C5.597,0,0,5.597,0,12.5S5.597,25,12.5,25S25,19.403,25,12.5S19.403,0,12.5,0L12.5,0z'/%3E%3Ccircle fill='%23c5c5c5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}
.power-choose .radio-input:hover + .radio-box{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath fill='%23b5b5b5' d='M12.5,4c4.687,0,8.5,3.813,8.5,8.5c0,4.687-3.813,8.5-8.5,8.5C7.813,21,4,17.187,4,12.5C4,7.813,7.813,4,12.5,4 M12.5,0 C5.597,0,0,5.597,0,12.5S5.597,25,12.5,25S25,19.403,25,12.5S19.403,0,12.5,0L12.5,0z'/%3E%3C/svg%3E%0A");
}
.power-choose .radio-input:checked:hover + .radio-box{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath fill='%23b5b5b5' d='M12.5,4c4.687,0,8.5,3.813,8.5,8.5c0,4.687-3.813,8.5-8.5,8.5C7.813,21,4,17.187,4,12.5C4,7.813,7.813,4,12.5,4 M12.5,0 C5.597,0,0,5.597,0,12.5S5.597,25,12.5,25S25,19.403,25,12.5S19.403,0,12.5,0L12.5,0z'/%3E%3Ccircle fill='%23b5b5b5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}
.section-header .section-header-btn{
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background-color: #ee3643;
  width: 253px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
  margin-right: 24px;
}
.catalog .sorting{
  width: 665px;
  height: 38px;
  background-color: #f7f3ec;
  line-height: 38px;
  padding-left: 20px;
  border-radius: 4px;
  display: flex;
  margin: 20px 0 10px 10px;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}
.catalog .sorting h4{
  padding-right: 140px;
}
.main-catalog .catalog .main-catalog-list{
  margin-left: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog .sorting button{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  border: none;
  border-bottom: 1px dotted #ee3643;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}
.catalog .sorting .buttons-filter{
  width: 355px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
.up-down-filter{
  display: flex;
}
.catalog .sorting a{
  display: inline-block;
  padding-left: 21px;
}
.catalog .sorting a:hover svg polygon,
.catalog .sorting a:hover svg polyline{
  fill: #000000;
}
.catalog .sorting a:focus svg polygon,
.catalog .sorting a:focus svg polyline{
  fill: #ee3643;
}
.catalog .sorting button:hover{
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}
.catalog .sorting button:focus{
  color: #ee3643;
  opacity: 1;
  border-bottom: none;
}
.filter button{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  width: 140px;
  height: 38px;
}
.catalog ul{
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-between;
}
.catalog ul li span{
  padding: 0 10px;
}
.catalog li{
  width: 220px;
  height: 318px;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
}
.btns-catalog-element{
  display: none;
  width: 218px;
  height: 170px;
}
.btns-catalog-element button{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}
.btns-catalog-element .buy-btn{
  color: #ffffff;
  width: 135px;
  height: 38px;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  padding: 10px 45px 14px 49px;
  margin-top: 44px;
  margin-bottom: 7px;
}
.btns-catalog-element .to-fav-btn{
  color: #32425c;
  width: 135px;
  height: 38px;
  background-color: #ffffff;
  border: 3.0px solid #63a63e;
}
.btns-catalog-element .buy-btn::before{
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 15 15' enable-background='new 0 0 15 15' xml:space='preserve'%3E%3Cg%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpolygon points='15,2 4.07,2 3.648,0 0,0 0,2 2.031,2 4.016,11 15,11 15,9 9.441,9 15,6.951 ' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
  opacity: 0.3;
  display: inline-block;
  position: absolute;
  margin-left: -35px;
  margin-top: 1px;
}
.btns-catalog-element .buy-btn:hover{
  background-color: #5fbb2d;
}
.btns-catalog-element .buy-btn:active{
  background-color: #518534;
  border: none;
}
.btns-catalog-element .to-fav-btn:hover{
  border-color: #32425c;
}
.btns-catalog-element .to-fav-btn:active{
  opacity: 0.3;
}
.btns-catalog-element .buy-btn:hover::before,
.btns-catalog-element .buy-btn:active::before{
  opacity: 1;
}
.catalog li:hover{
  box-shadow: 0px 10px 25px 0px rgba(41,51,73,0.5);
}
.catalog li:hover img{
  display: none;
}
.catalog li:hover .btns-catalog-element{
  display: block;
}
.catalog li h3,
.catalog li p{
  margin: 0;
}
.catalog a{
  color: #000000;
  line-height: 20px;
  text-align: center;
  display: inline-block;
}
.catalog del{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999999;
  text-align: center;
  display: block;

}
.catalog .current-price{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: block;
  background-image: url("../img/price-button.svg");
  width: 141px;
  height: 38px;
}
.catalog img{
  width: 218px;
  height: 170px;
}
.popular-manufaturers ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popular-manufaturers li{
  background-color: #ffffff;
  margin: 10px 0;
}
.popular-manufaturers li a{
  width: 220px;
  height: 145px;
  border: 1.0px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-manufaturers li a img{
  display: inline-block;
}
.popular-manufaturers li:hover{
  box-shadow: 0px 10px 25px 0px rgba(41,51,73,0.5);
}
.popular-manufaturers li:active{
  box-shadow: 0px 4px 10px 0px rgba(41,51,73,0.5);
}
.popular-manufaturers li:active img{
  opacity: 0.3;
}
.pages{
  list-style: none;
  display: flex;
  margin: 42px 0 60px 240px;
}
.pages li{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 10px;
}
.pages a,
.btn-show{
  color: #000000;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  border-radius: 4px;
  display: inline-block;
}
.btn-show{
  width: 140px;
  height: 38px;
  margin-top: 75px;
}
.pages .next-page{
  width: 140px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #ffffff;
  border: 1.0px solid #e5e5e5;
  border-radius: 4px;
}
.pages a:hover,
.btn-show:hover{
  border: 1.0px solid #bdc6ca;
}
.pages a:active,
.btn-show:active{
  border: 1.0px solid #ee3643;
}
.pages a:focus:not(.next-page){
color: #ffffff;
line-height: 38px;
background-color: #ee3643;
border-radius: 4px;
}
.services-sliders{
  display: flex;
  margin-top: 75px;
}
.services ul{
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 50px;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.services ul li button,
.services ul li img{
  margin: 0;
}
.services ul li h3{
  margin-top: 0;
  margin-bottom: 22px;
}
.services h2{
  margin-top: 0;
  padding-top: 68px;
}
.delivery-slider,
.guarantee-slider,
.credit-slider{
  display: none;
}
.delivery-slider .delivery-png{
  position: absolute;
  margin-left: 152px;
  margin-top: -131px;
}
.guarantee-slider .guarantee-png{
  position: absolute;
  margin-left: 230px;
  margin-top: -178px;
}
.credit-slider .credit-png{
  position: absolute;
  margin-left: 149px;
  margin-top: -108px;
}
.services .slider-btn{
  display: flex;
  flex-direction: column;
  padding-bottom: 98px;
}
.services label{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  width: 217px;
  height: 41px;
  background-color: #32425c;
  text-align: left;
  border:none;
  padding-left: 23px;
  padding-top: 21px;
  text-transform: capitalize;
}
.services label:hover{
  background-color: #293449;
}
.delivery-input:checked ~ .slider-btn label:nth-child(1),
.guarantee-input:checked ~ .slider-btn label:nth-child(2),
.credit-input:checked ~ .slider-btn label:nth-child(3){
  background-color: #ffffff;
  color: #32425c;
}
.delivery-input:checked ~ ul .delivery-slider{
  display: block;
}
.guarantee-input:checked ~ ul .guarantee-slider{
  display: block;
}
.credit-input:checked ~ ul .credit-slider{
  display: block;
}
.services h3{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
}
.services .guarantee{
  font-family: "GillSans", "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}
.services p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
}
.info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}
.about-company{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contacts img{
  margin: 38px 0;
}
.about-company p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.about-company ul{
  font-size: 18px;
  line-height: 20px;
  list-style-image: url("../img/list-style.png");
}
.about-company a{
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  width: 220px;
  height: 38px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}
.about-company a:hover,
.contacts button:hover,
.catalog-btn:hover,
.section-header-btn:hover{
  background-color: #ca2c37;
}
.about-company a:active,
.contacts button:active,
.catalog-btn:active,
.section-header-btn:active{
  background-color: #ba2732;
}
.contacts p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.contacts button{
  background-color: #ee3643;
  width: 300px;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: auto;
}
.post-scriptum{
  padding: 67px 0;
}
.post-scriptum p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.first-footer-background{
  height: 193px;
  background-color: #32425c;
  width: auto;
}
.second-footer-background{
  height: 107px;
  background-color: #293449;
  width: auto;
}
.first-footer{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.logo-footer{
  background-color: #ee3643;
  width: 220px;
  height: 63px;
  line-height: 68px;
  text-align: center;
  display: inline-block;
  border-bottom: 5px solid #b52933;
}
.logo-footer a{
  line-height: 68px;
  display: block;
}
.first-footer-section ul{
  list-style: none;
}
.site-navigation ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 42px;
}
.site-navigation ul li{
  display: flex;
  padding-left: 60px;
}
.site-navigation ul li a{
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  display: block;
}
.first-footer-section p{
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
}
.catalog-navigation{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.catalog-navigation ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.catalog-navigation ul li{
  display: flex;
  padding-left: 60px;
}
.catalog-navigation a{
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  display: block;
}
.second-footer{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.copyright{
  width: 300px;
}
.social-media{
  display: flex;
}
.social-media a div{
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}
.social-media a div:hover,
.social-media a div:active,
.social-media a div:focus{
  background-color: #ee3643;
}
.feedback-developer{
  display: flex;
  justify-content: flex-end;
}
.feedback-developer p{
  padding-left: 53px;
}
.second-footer p{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}
.second-footer a{
  font: inherit;
  color: #ffd180;
}
.site-navigation li:hover,
.catalog-navigation li:hover{
  text-decoration: underline;
}
.site-navigation a:active{
  color: #a4abb4;
}
.catalog-navigation a:active{
  color: #a6906e;
}
.second-footer a:hover{
  text-decoration: underline;
}
.second-footer a:active{
  color: #e53643;
}
.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
